<!DOCTYPE html>
<html>
<head>
    <title>Account Delete Request</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <p>Hi Crunch Team,</p>
    <table>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        <tr>
            <td><strong>Username</strong></td>
            <td>{{instance.user}}</td>
        </tr>
        <tr>
            <td><strong>Address</strong></td>
            <td>{{instance.address}}</td>
        </tr>
        <tr>
            <td><strong>Email</strong></td>
            <td>{{instance.email}}</td>
        </tr>
        <tr>
            <td><strong>Reference Id</strong></td>
            <td>{{instance.crunch_detail.card_holder_ref}}</td>
        </tr>
    </table>

</body>
</html>
