<!DOCTYPE html>
<html>
<head>
    <title>Email Verification</title>
</head>
<body>

    <p>Hi {{user}},</p>
    <strong>Please click the link to verify your email <a href="{{protocol}}://{{domain}}/api/user/auth/{{verification_code}}/verify_email/">here</a>. Or, you can copy and paste this link into your browser: <a href="{{protocol}}://{{domain}}/api/user/auth/{{verification_code}}/verify_email/">{{protocol}}://{{domain}}/api/user/auth/{{verification_code}}/verify_email/</a></strong>
    <p><strong>Note: The verification link will expire in 24 hours.</strong><p>
    <p>Thanks,</p>
    <p>The Rebel Tip team.</p>

</body>
</html>
