<!DOCTYPE html>
<html>
  <head>
    <title>Cash Out Details:Withdrawal Processed</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th,
      td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <p>Hi {{user}},</p>
    <p>
      We're pleased to inform you that a cash out request of <strong>£{{amount}}</strong> from
      Rebel Tip wallet has been successfully processed. Following the deduction
      of service charges, <strong>£{{net}}</strong> has been credited to your bank account.
    </p>
    <p>Here's the breakdown:</p>
    <table>
      <tr>
        <td><strong>Cash Out Requested</strong></td>
        <td>£{{amount}}</td>
      </tr>
      <tr>
        <td><strong>Net Amount Credited</strong></td>
        <td>£{{net}}</td>
      </tr>
      <tr>
        <td><strong>Service Charges</strong></td>
        <td>£{{fee}}</td>
      </tr>
    </table>
    <p>Thanks,</p>
    <p>The Rebel Tip team.</p>
  </body>
</html>
