<!DOCTYPE html>
<html>
<head>
    <title>Redeem Promise to Pay</title>
</head>
<body>

    <p>Hi {{user}},</p>
    <strong>Here is the link to redeem the promise to pay <a href="{{ domain }}/tipper/promised-tip/?unique_key={{ unique_key }}">Click here</a></strong>
    <p>Thanks,</p>
    <p>The Rebel Tip team.</p>

</body>
</html>
