<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>
    <p>Hi {{user}}</p>
    <p>Forgot your password?</p>
    <p>We received a request to reset the password for your account.</p>
    <p>To reset your password, click on the link below:</p>
    <a href="{{protocol}}://{{domain}}/api/user/auth/{{verification_code}}/verify_email/">Reset Password</a>
    <p>This verification link will expire in 24 hours.</p>
    <p>If you didn't request this, please ignore this email.</p>
</body>
</html>
