<!DOCTYPE html>
<html>
  <head>
    <title>Thank You</title>
  </head>
  <body>
    <p>Hi,</p>
    <p>
      Thank you for using Rebel Tip Promise to Pay. To confirm you have promised
      <strong>£{{amount}}</strong>. When the person you've made this promise to
      logs into their account and redeems the code, we will email you payment
      link which will allow you to send the payment securely to their Rebel Tip
      account.
    </p>
    <p>Thanks,</p>
    <p>The Rebel Tip team.</p>
  </body>
</html>
