<!DOCTYPE html>
<html>
  <head>
    <title>Email Verification</title>
  </head>
  <body>
    <p>Hi {{user}},</p>
    <strong
      >To complete your Rebel Tip sign up please click the link to verify your
      email
      <a
        href="{{protocol}}://{{domain}}/api/user/auth/{{verification_code}}/verify_email/"
        >here.</a
      >
      <br /><br />
      Or you can copy and paste this link into your browser:
      <a
        href="{{protocol}}://{{domain}}/api/user/auth/{{verification_code}}/verify_email/"
        >{{protocol}}://{{domain}}/api/user/auth/{{verification_code}}/verify_email/</a
      ></strong
    >
    <br /><br />
    <strong
      >Once your email is verified we will send a 6 digit verification code to
      your registered mobile number.
    </strong>
    <br></br>
    <strong>
      This verification link will expire in 24 hours, if you don't use it please
      restart your sign up.</strong
    >
    <p></p>
    <p>Thanks,</p>
    <p>The Rebel Tip team.</p>
  </body>
</html>
